<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd4307b1-440a-4266-b2c0-c284c46651f6" Alias="2026-03-04 03:47 - izmir gaynutdinov (1)" Level="2">
  <Info>
    <Parent Key="a739fa63-6edd-4b1c-9067-23833e0b8c91">Form Submissions</Parent>
    <Path>/FormSubmissions/izmirGaynutdinov1</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2026-03-04T02:47:51</CreateDate>
    <NodeName Default="2026-03-04 03:47 - izmir gaynutdinov (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[ize_95@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[izmir gaynutdinov]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0761482412]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>