<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6ee21fb-6f85-4ba6-b503-0f7bd3609be0" Alias="About" Level="2">
  <Info>
    <Parent Key="c551c493-73d6-4177-83c4-14cfb7d70685">Onatrix</Parent>
    <Path>/Onatrix/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2026-02-13T17:53:31</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c5812-f01a-7a84-b008-edb23838bcf4">AboutPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d44ad0cc-ab33-4508-91ee-c3e7d0e8d7e4",
      "key": "f5557b31-995b-467a-9c1c-ad6b3e798667",
      "udi": null,
      "values": [
        {
          "alias": "teamLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our expert"
        },
        {
          "alias": "teamTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EA team of professionals\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003Ewith years of experience\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "teamMemberList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "ac64ccbf-e31f-438f-a32f-2dd25d729764",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Newton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "dfbd8442-c3e0-409b-911e-2e3cb24794ea",
                        "mediaKey": "38308ebd-f9f0-48be-9fc4-212bdc30aac6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "2c713a45-6d90-474f-b7ac-d754b1225439",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "AJ Carter"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ab9b55a9-2c02-4ce5-9bd4-fb0b83696cde",
                        "mediaKey": "966a3228-5bf6-49ae-91fa-78fd5be95c53",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "8ccb6fa6-e0b8-4aa4-8093-a0f6c207a8a6",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Aaron Lambert"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Business Specialist at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e4a8423c-239c-44c8-9df8-c6b5794af223",
                        "mediaKey": "09765176-1a37-40f8-be4a-1a788f90e180",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "7551208e-250c-4561-a529-777f0c9370cc",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "CEO \u0026 Founder at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4529dafb-dc7a-4661-9f60-5f92671d4176",
                        "mediaKey": "1a576d4b-e685-48a1-8aa7-688712b0ddc6",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "ddd99340-c101-4113-a6dd-f2738ffff1ef",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Brandon Kerr"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": " CFO \u0026 Co-Founderat Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "32ece46f-731e-4b32-a670-22dce6c2ef24",
                        "mediaKey": "eca02925-ea66-4466-acd3-953dee3dbab8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "08d1d228-e709-4120-aa2f-b208f70cc18b",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Miranda Dayton"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Head of HR at Onatrix"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "b428e92f-3c16-4970-853e-0b8a7c705490",
                        "mediaKey": "75d0626b-5533-430f-baed-c596ab657f55",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
                "key": "9aabea4c-338c-497a-bf14-033df46a12cd",
                "udi": null,
                "values": [
                  {
                    "alias": "teamMemberName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kevin Gardner"
                  },
                  {
                    "alias": "teamMemberRole",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banking Advisor at Swedbank"
                  },
                  {
                    "alias": "teamMemberImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "eba82c20-5b77-4b06-a728-cbad059cfb2f",
                        "mediaKey": "559e2711-8c82-4585-be60-38d9bc2bf357",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "ac64ccbf-e31f-438f-a32f-2dd25d729764",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2c713a45-6d90-474f-b7ac-d754b1225439",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8ccb6fa6-e0b8-4aa4-8093-a0f6c207a8a6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7551208e-250c-4561-a529-777f0c9370cc",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ddd99340-c101-4113-a6dd-f2738ffff1ef",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "08d1d228-e709-4120-aa2f-b208f70cc18b",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9aabea4c-338c-497a-bf14-033df46a12cd",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "ac64ccbf-e31f-438f-a32f-2dd25d729764",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2c713a45-6d90-474f-b7ac-d754b1225439",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8ccb6fa6-e0b8-4aa4-8093-a0f6c207a8a6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7551208e-250c-4561-a529-777f0c9370cc",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ddd99340-c101-4113-a6dd-f2738ffff1ef",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "08d1d228-e709-4120-aa2f-b208f70cc18b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9aabea4c-338c-497a-bf14-033df46a12cd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f5557b31-995b-467a-9c1c-ad6b3e798667",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f5557b31-995b-467a-9c1c-ad6b3e798667",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>