<?xml version="1.0" encoding="utf-8"?>
<Content Key="edcbbee6-5693-4b19-a1bc-89b83220a91e" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="340f66b2-7db9-4c0b-9cb8-4924f4d778fc">Services</Parent>
    <Path>/Onatrix/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2026-02-28T16:38:41</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019ca517-5312-7dc7-a286-b36dd10aa9ac">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <serviceDetailAsides>
      <Value><![CDATA[]]></Value>
    </serviceDetailAsides>
    <serviceDetailBody>
      <Value><![CDATA[]]></Value>
    </serviceDetailBody>
    <serviceDetailExcerpt>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </serviceDetailExcerpt>
    <serviceDetailThumbnail>
      <Value><![CDATA[[
  {
    "key": "da07ba58-e56a-483d-b051-cda63b4755f3",
    "mediaKey": "a45a46a8-5b85-434b-b058-207b53acb991",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceDetailThumbnail>
  </Properties>
</Content>