<?xml version="1.0" encoding="utf-8"?>
<Content Key="a739fa63-6edd-4b1c-9067-23833e0b8c91" Alias="Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>formSubmissions</ContentType>
    <CreateDate>2026-03-04T02:00:21</CreateDate>
    <NodeName Default="Form Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>