<?xml version="1.0" encoding="utf-8"?>
<Content Key="340f66b2-7db9-4c0b-9cb8-4924f4d778fc" Alias="Services" Level="2">
  <Info>
    <Parent Key="c551c493-73d6-4177-83c4-14cfb7d70685">Onatrix</Parent>
    <Path>/Onatrix/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2026-02-11T19:23:20</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019c4e27-a438-7262-8f94-da5759baa02c">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "48d61638-e431-4733-9cfb-51df3ef12778",
      "key": "9c961e75-9387-48c5-9f55-d66342c23eaf",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faste\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "862c99e8-9d6d-43d1-8ec5-50bc665da805",
      "key": "8771f0b4-3b8f-4579-8cd5-bb03a42e1306",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9c961e75-9387-48c5-9f55-d66342c23eaf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9c961e75-9387-48c5-9f55-d66342c23eaf",
        "contentUdi": null,
        "settingsKey": "8771f0b4-3b8f-4579-8cd5-bb03a42e1306",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>