<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f4c30e7-b812-4f78-bf49-ed95b5f28b59" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019c3ef8-d62e-743e-8165-16c469d0ef1b">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9aeac7b1-3971-438b-9f3b-fd02f1044386" SortOrder="0">contactPage</ContentType>
    <ContentType Key="d7d795e7-42b8-4261-bf44-b476503bf8e2" SortOrder="1">servicePage</ContentType>
    <ContentType Key="0f19c330-db47-40a7-95d6-8988234414ca" SortOrder="2">aboutPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ba8d7a73-4bfc-4c35-9b4e-aaeda23353c9</Key>
      <Name>Sections</Name>
      <Alias>sections</Alias>
      <Definition>112b30f3-02a6-4a07-b8ac-2829cbd17b03</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b1298ee6-b56a-4679-b6d8-a81a70259f18</Key>
      <Caption>Content</Caption>
      <Alias>content/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>cea26e18-af1d-4521-93b3-056d5778f3ee</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>