<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48a10a9b-fe4b-4ab0-b8d0-0fb084b055b2" Alias="About Callback Settings - Form Description - Text Box" Level="1">
  <Info>
    <Name>About Callback Settings - Form Description - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>