<?xml version="1.0" encoding="utf-8"?>
<DataType Key="308a86a3-9bf9-4389-b9ab-196d895b4b43" Alias="Callback Request - Callback RequestName - Text Box" Level="1">
  <Info>
    <Name>Callback Request - Callback RequestName - Text Box</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>