<?xml version="1.0" encoding="utf-8"?>
<DataType Key="112b30f3-02a6-4a07-b8ac-2829cbd17b03" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4392847f-6209-4749-a73c-4eb06dfc596f"
    },
    {
      "contentElementTypeKey": "48d61638-e431-4733-9cfb-51df3ef12778",
      "settingsElementTypeKey": "862c99e8-9d6d-43d1-8ec5-50bc665da805"
    },
    {
      "contentElementTypeKey": "d44ad0cc-ab33-4508-91ee-c3e7d0e8d7e4"
    },
    {
      "contentElementTypeKey": "38ab59ed-44cd-45fa-9bbf-22389b2d1edf",
      "settingsElementTypeKey": "9b26b05a-2d96-484f-b130-80772ed8c160"
    }
  ]
}]]></Config>
</DataType>