<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fff3f094-af89-4001-810d-423bf9d5ea09" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "e49520b4-b6bc-4531-be94-bd4b37c2507f"
    }
  ]
}]]></Config>
</DataType>