<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f65c3a7e-4532-4155-ab23-fdc9ca4afaf0" Alias="Site Settings - Platform List " Level="1">
  <Info>
    <Name>Site Settings - Platform List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9d93227d-bdfc-4b83-a326-63d0f1dc090f",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>