<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2783e9ea-f568-4ccc-ac47-cdb89aa8a2e9" Alias="Team Member List " Level="1">
  <Info>
    <Name>Team Member List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c864091a-2098-4229-af00-5b794b56a0a3",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>