<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe1b60c8-1c49-4385-b93f-ff647a7426d1" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-16T17:20:13</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hlolshcs/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>