<?xml version="1.0" encoding="utf-8"?>
<Media Key="813829b0-9f73-4840-9f2c-caf8339e6055" Alias="image-13-min 1.svg" Level="2">
  <Info>
    <Parent Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image13Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-28T16:35:53</CreateDate>
    <NodeName Default="image-13-min 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ikkjuy1i/image-13-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>