<?xml version="1.0" encoding="utf-8"?>
<Media Key="adbdfaad-5610-4f6b-9390-259b15c2d8d1" Alias="image-24-min 2 (2).svg" Level="2">
  <Info>
    <Parent Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image24Min22Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-02T01:03:00</CreateDate>
    <NodeName Default="image-24-min 2 (2).svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/l3db4tyl/image-24-min-2-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>