<?xml version="1.0" encoding="utf-8"?>
<Media Key="966a3228-5bf6-49ae-91fa-78fd5be95c53" Alias="image-106 1.svg" Level="2">
  <Info>
    <Parent Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b">new folder name</Parent>
    <Path>/newFolderName/image1061svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-13T17:42:56</CreateDate>
    <NodeName Default="image-106 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1khnq3hn/image-106-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>