<?xml version="1.0" encoding="utf-8"?>
<Media Key="8504a087-10fb-4f4d-8808-344fb9059028" Alias="image-21-min 2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image21Min2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-03-02T11:39:33</CreateDate>
    <NodeName Default="image-21-min 2.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ouolmz5a/image-21-min-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>