<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6d88292-2091-4592-b4db-dcb28a1b7305" Alias="image-21-min 1.svg" Level="2">
  <Info>
    <Parent Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image21Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-28T16:35:53</CreateDate>
    <NodeName Default="image-21-min 1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ma5hujek/image-21-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>