<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1782664-9a34-4315-a5f1-1ac4c10ff961" Alias="image-22-min 1.svg" Level="2">
  <Info>
    <Parent Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image22Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-28T16:35:52</CreateDate>
    <NodeName Default="image-22-min 1.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s0nnuazp/image-22-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>