<?xml version="1.0" encoding="utf-8"?>
<Media Key="a45a46a8-5b85-434b-b058-207b53acb991" Alias="image-18-min 1.svg" Level="2">
  <Info>
    <Parent Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image18Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-28T16:35:52</CreateDate>
    <NodeName Default="image-18-min 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ll3pqru4/image-18-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>