<?xml version="1.0" encoding="utf-8"?>
<Media Key="09765176-1a37-40f8-be4a-1a788f90e180" Alias="image-104 1.svg" Level="2">
  <Info>
    <Parent Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b">new folder name</Parent>
    <Path>/newFolderName/image1041svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-13T17:42:56</CreateDate>
    <NodeName Default="image-104 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qtwnj0zm/image-104-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>