<?xml version="1.0" encoding="utf-8"?>
<Media Key="dae2fd2f-ec1d-463b-b520-fdba65ccb02d" Alias="image-23-min 1.svg" Level="2">
  <Info>
    <Parent Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff">Services Thumbnails</Parent>
    <Path>/ServicesThumbnails/image23Min1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-28T16:35:52</CreateDate>
    <NodeName Default="image-23-min 1.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1vaeaoag/image-23-min-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>