<?xml version="1.0" encoding="utf-8"?>
<Media Key="75d0626b-5533-430f-baed-c596ab657f55" Alias="Img-4-2 1.svg" Level="2">
  <Info>
    <Parent Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b">new folder name</Parent>
    <Path>/newFolderName/Img421svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-13T17:42:56</CreateDate>
    <NodeName Default="Img-4-2 1.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/thphffzi/img-4-2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>