<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a576d4b-e685-48a1-8aa7-688712b0ddc6" Alias="img_choose_01_home01 2.svg" Level="2">
  <Info>
    <Parent Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b">new folder name</Parent>
    <Path>/newFolderName/img_choose_01_home012svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-13T17:42:56</CreateDate>
    <NodeName Default="img_choose_01_home01 2.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xhipl4e4/img_choose_01_home01-2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>