<?xml version="1.0" encoding="utf-8"?>
<Media Key="559e2711-8c82-4585-be60-38d9bc2bf357" Alias="Kevin-Gardner 1.svg" Level="2">
  <Info>
    <Parent Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b">new folder name</Parent>
    <Path>/newFolderName/KevinGardner1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-13T17:42:56</CreateDate>
    <NodeName Default="Kevin-Gardner 1.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2ondzn2z/kevin-gardner-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>