<?xml version="1.0" encoding="utf-8"?>
<Media Key="eca02925-ea66-4466-acd3-953dee3dbab8" Alias="Mask-Group-8 1.svg" Level="2">
  <Info>
    <Parent Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b">new folder name</Parent>
    <Path>/newFolderName/MaskGroup81svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-13T17:42:56</CreateDate>
    <NodeName Default="Mask-Group-8 1.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/04kaedt3/mask-group-8-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>