<?xml version="1.0" encoding="utf-8"?>
<Media Key="66094ddb-62ab-48a0-b4f8-c3336ed45c7b" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-13T17:41:20</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>