<?xml version="1.0" encoding="utf-8"?>
<Media Key="d367d2b9-420d-4ee7-a40a-3a8b9af582ff" Alias="Services Thumbnails" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicesThumbnails</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-02-28T16:33:49</CreateDate>
    <NodeName Default="Services Thumbnails" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>