<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea997e47-fece-43f1-a710-9b8ffa29e2fe" Alias="sl-home2 (1).svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome21Svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2026-02-08T20:38:14</CreateDate>
    <NodeName Default="sl-home2 (1).svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wxbdwcgv/sl-home2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>